#hero {
  position: relative;
  // min-height: 100vh;
  perspective: 1000px;
  transform-style: preserve-3d;
  .highlight-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    pointer-events: none;
    .bg-gradient {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      user-select: none;
      &.bg-gradient-1 {
        opacity: 0.2;
        background: #e00;
        filter: blur(300px);
        width: 80.875rem;
        height: 35.4375rem;
        flex-shrink: 0;
      }
      &.bg-gradient-2 {
        width: 78rem;
        height: 56.25rem;
      }
    }
    > svg {
      width: 78rem;
      height: 56.25rem;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
    }
    .bg-grid {
      position: unset;
    }
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11.38rem 0 4.94rem;
    .badge {
      padding: 0.75rem 1rem;
      border-radius: 1.875rem;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(32px);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 110%; /* 0.9625rem */
      letter-spacing: -0.0175rem;
      background: linear-gradient(90deg, #ffcaca 0%, #ffb3a3 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 2rem;
    }
    h1 {
      text-align: center;
      font-size: 5rem;
      letter-spacing: -0.1rem;
      margin-bottom: 1.5rem;
      perspective: 1000px;
      line-height: 115%;
      > span {
        // color: red;
        &:last-of-type {
          div {
            &:first-child {
              background-image: linear-gradient(
                              69deg,
                              #ee0101 12.93%,
                              #f6272d 85.04%
              );
            }
            &:nth-child(2) {
              background-image: linear-gradient(
                              69deg,
                              #f72e36 12.93%,
                              #ff5e61 85.04%
              );
            }
            &:nth-child(3) {
              background-image: linear-gradient(
                              73deg,
                              #ff6260 11.54%,
                              #ff695c 84.71%
              );
            }
            &:nth-child(4) {
              background-image: linear-gradient(
                              73deg,
                              #ff6c5b 11.54%,
                              #ff7b54 84.71%
              );
            }
            &:nth-child(5) {
              background-image: linear-gradient(
                              73deg,
                              #ff7f52 11.54%,
                              #f84f30 84.71%
              );
            }
            &:nth-child(6) {
              // background-image: linear-gradient(
              //   73deg,
              //   #f84f30 11.54%,
              //   #ee0101 84.71%
              // );
              background-image: linear-gradient(
                              73deg,
                              #f8492c 11.54%,
                              #ee0101 84.71%
              );
            }
          }
        }
      }
    }
    > p {
      color: #fff;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 120%; /* 1.8rem */
      opacity: 0.7;
      margin-bottom: 2.63rem;
    }
    .red-arr-wrapper {
    }
  }
  .video-wrapper {
    width: max-content;
    margin: 0 auto;
    position: relative;
    margin-bottom: 4.56rem;
    max-width: 78rem;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
      position: relative;
      z-index: 1;
    }
    .play-but {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 6.25rem;
      width: 6.34144rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(7px);
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      z-index: 2;
      &.active {
        opacity: 0;
        pointer-events: none;
      }
      img {
        height: 1.5rem;
      }
    }
    &::before {
      content: "";
      width: 95%;
      height: 100%;
      border-radius: 1.5rem;
      border: 1px solid hsl(0, 0%, 10%);
      background: rgba(28, 20, 20, 0.4);
      backdrop-filter: blur(65px);
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      z-index: 0;
      pointer-events: none;
    }
  }
  .client-logos {
    padding: 0 21rem;
    margin-bottom: 7.25rem;
    .splide__list {
      align-items: center;
    }
  }
  .client-logos .splide__slide img {
    max-width: 60%;
    max-height: 100px;
    object-fit: contain;
  }
  > nav {
    display: none;
  }
  .logo {
    margin: 0 auto 0 0;
  }
}
  .graph {
    position: relative;
    .highlight {
      top: 15px;
      left: 50%;
    }
    .text-quote {
      margin-left: 24rem;
      display: flex;
      width: 36.125rem;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border-left: 1px solid #e00;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 120%; /* 1.05rem */
      background: linear-gradient(
                      180deg,
                      #fff 0%,
                      rgba(255, 255, 255, 0.5) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 2.5rem;
    }
    .lottie-graph {
      width: 96rem;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}